header
{
	width	: 400px;
	box-sizing:	border-box;
	padding	: 0 10px;
}

header
{
	line-height	: 40px;
}

.hidden
{
	display	: none;
}
#sectionSettings
{

}

#sectionSettings  label
{
	display	: block;
}
#sectionSettings #saveSettings
{
	display	: block;
}

textarea
{
	width		: 100%;
	height		: 200px;
	overflow	: auto;
	resize		: none;
}
